
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="dialog-container">
<h1 mat-dialog-title>Edit address</h1>
<div mat-dialog-content>
    
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street & House No.</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street & House No.">
        <mat-icon matSuffix></mat-icon>
        <!-- <mat-hint>Please enter last name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Postcode</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.postCode" matInput placeholder="Postcode">
        <mat-icon matSuffix></mat-icon>
        <!-- <mat-hint>Please enter last name</mat-hint> -->
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
        <mat-icon matSuffix></mat-icon>
        <!-- <mat-hint>Please enter last name</mat-hint> -->
      </mat-form-field>
    </div>
    

</div>
<div mat-dialog-actions>
  <button [disabled]="loading" (click)="closeDialog()" mat-button >Cancel</button>
  <button [disabled]="loading" (click)="updateUserAddress()" mat-button cdkFocusInitial>Update</button>
</div>

</div>
