.mat-draw-container{
    height: 100vh
}

.menu-icon{
    cursor: pointer;
}

.sidenav{
    width: 300px;
}

.logo-container{
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.04);
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar{
    height: 56px !important;
    min-height: 56px !important;
    
}

mat-toolbar-row {
    height: 56px !important;
    min-height: 56px !important;
    
}

mat-toolbar-multiple-rows{
    height: 56px !important;
    min-height: 56px !important;
}

.menu-items{
    list-style-type: none;
    padding: 0px;
    margin: 0;

    li{
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(0,0,0,0.04);
        }

        &:focus{
            outline: none;
        }

    }
}

.router-container{
    padding-left: 56px;
    padding-top: 16px;
}





